In [2]:
import os
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt    
import zipfile 
import seaborn as sns  
import warnings
warnings.filterwarnings("ignore") 
sns.set_style("darkgrid")

In [3]:
os.listdir()

['CrabAgePrediction.csv', 'crab_age_prediction.ipynb']

#### Content

<ul>
    <li><a href="#inspection">Data Inspection</a></li>
    <li><a href="#cleaning">Data Cleaning</a></li>
    <li><a href="#engineering">Feature Engineering</a></li>
    <li><a href="#transformation">Feature Transformation</a></li>
    <li><a href="#target-transformation">Target Transformation</a></li>
    <li><a href="#model-selection">Model Selection</a></li>
    <li><a href="#optimization">Hyperparameter Optimization</a></li>
    <li><a href="#ensemble">Ensemble Learning</a></li>
    <li><a href="#selection">Feature Selection</a></li>
</ul>

<!-- Section 1: Data Inspection -->
<a id="inspection"></a>
### Data Inspection

In [9]:
pd.set_option("display.max_columns", None)

In [10]:
crab_df = pd.read_csv("CrabAgePrediction.csv")

In [11]:
crab_df.head()

,Sex,Length,Diameter,Height,Weight,Shucked Weight,Viscera Weight,Shell Weight,Age
0,F,1.4375,1.1750,0.4125,24.635715,12.332033,5.584852,6.747181,9
1,M,0.8875,0.6500,0.2125,5.400580,2.296310,1.374951,1.559222,6
2,I,1.0375,0.7750,0.2500,7.952035,3.231843,1.601747,2.764076,6
3,F,1.1750,0.8875,0.2500,13.480187,4.748541,2.282135,5.244657,10
4,I,0.8875,0.6625,0.2125,6.903103,3.458639,1.488349,1.700970,6

In [12]:
crab_df.shape

(3893, 9)

In [13]:
crab_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3893 entries, 0 to 3892
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Sex             3893 non-null   object
 1   Length          3893 non-null   float64
 2   Diameter        3893 non-null   float64
 3   Height          3893 non-null   float64
 4   Weight          3893 non-null   float64
 5   Shucked Weight  3893 non-null   float64
 6   Viscera Weight  3893 non-null   float64
 7   Shell Weight    3893 non-null   float64
 8   Age             3893 non-null   int64
dtypes: float64(7), int64(1), object(1)
memory usage: 273.9+ KB

In [14]:
# Checking for Null values
crab_df.isnull().sum()

Sex               0
Length            0
Diameter          0
Height            0
Weight            0
Shucked Weight    0
Viscera Weight    0
Shell Weight      0
Age               0
dtype: int64

In [15]:
# Check for Duplicates
crab_df.duplicated().sum()

0

In [16]:
crab_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3893 entries, 0 to 3892
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Sex             3893 non-null   object
 1   Length          3893 non-null   float64
 2   Diameter        3893 non-null   float64
 3   Height          3893 non-null   float64
 4   Weight          3893 non-null   float64
 5   Shucked Weight  3893 non-null   float64
 6   Viscera Weight  3893 non-null   float64
 7   Shell Weight    3893 non-null   float64
 8   Age             3893 non-null   int64
dtypes: float64(7), int64(1), object(1)
memory usage: 273.9+ KB